@define-color accent #74C02E;
@define-color accent_color #74C02E;
@define-color accent_500 #74C02E;
@define-color accent_300 #74C02E;
@define-color text_color #333333;

window .csd:not(.popup):not(.menu) .titlebar,
window:not(.popup):not(.menu) > decoration,
window.unified,
window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.title {
    font-weight: 700;
}

.destructive-button:hover image {
    color: #D07070;
}

.yi-titlebar {
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: none;
}

.yi-side-titlebar {
    background: none;
    box-shadow: none;
    border-bottom: none;
}

.yi-titlebar-dark {
    background: #151515;
    box-shadow: none;
    border-bottom: none;
}

.yi-titlebar:backdrop {
    background: #f0f0f0;
}

.yi-titlebar-dark:backdrop {
    background: #333333;
}

.yi-titlebar .image-button {
    border-radius: 8px;
    border: none;
    box-shadow: none;
    background: none;
}

.yi-titlebar .image-button image {
    padding: 0 6px;
}

.yi-titlebar .image-button:hover {
    background: shade(@theme_bg_color, 0.85);
}

.yi-titlebar .image-button:active,
.yi-titlebar .image-button.toggle:checked {
    background: shade(@theme_bg_color, 0.85);
}

.yi-titlebar .image-button,
.yi-titlebar .title,
.yi-titlebar .titlebutton {
    color: #000;
}

.yi-titlebar:backdrop .image-button,
.yi-titlebar:backdrop .title,
.yi-titlebar:backdrop .titlebutton {
    color: #333;
}

.yi-titlebar-dark .image-button,
.yi-titlebar-dark .title,
.yi-titlebar-dark .titlebutton {
    color: #FFF;
}

.yi-titlebar-dark:backdrop .image-button,
.yi-titlebar-dark:backdrop .title,
.yi-titlebar-dark:backdrop .titlebutton {
    color: #CCC;
}

.yi-searchbar {
    border-radius: 8px;
    box-shadow: none;
    background: shade(@theme_bg_color, 0.95);
 }

 .yi-searchbar:backdrop {
    background: shade(@theme_bg_color, 1);
 }

.yi-titlebar image {
    box-shadow: none;
    -gtk-icon-shadow: none;
}

.yi-button {
    background-color: shade(@theme_bg_color, 0.90);
    border-radius: 50px;
    padding: 10px;
}

.yi-tv treeview.view {
    background-color: #F7F7F7;
    padding: 4px 8px;
}

.yi-tv-dark treeview.view {
    background-color: #151515;
    padding: 4px 8px;
}

.yi-tv:backdrop treeview.view {
    background-color: #F0F0F0;
}

.yi-tv-dark:backdrop treeview.view {
    background-color: #333333;
}

.yi-column {
    background: mix (@accent, @theme_bg_color, 0.90);
    border-right: 1px solid alpha (black, 0.25);
    box-shadow: none;
}

.yi-column .source-list {
    background: mix (@accent, @theme_bg_color, 0.90);
}

.yi-title {
    font-weight: 700;
}

.yi-stack {
    background: #F7F7F7;
}

.yi-stack-dark {
    background: #151515;
}

.yi-stack:backdrop {
    background: #f0f0f0;
}

.yi-stack-dark:backdrop {
    background: #333333;
}

.sidebar .badge,
.source-list.badge,
.source-list.badge:hover,
.source-list.badge:selected,
.source-list.badge:selected:focus,
.source-list.badge:hover:selected {
    background-image: none;
    background-color: alpha(@accent, 0.3);
    box-shadow: none;
    color: @text_color;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 6px;
    border-width: 0;
}

.badge {
    background-color: alpha(@accent, 0.3);
    background-image:
        linear-gradient(
            to bottom,
            alpha(@accent, 0.3),
            alpha(@accent, 0.3)
        );
    text-shadow: 0 1px 1px @accent;
    border: none;
    box-shadow: none;
}
