@define-color colorAccent #74C02E;
@define-color textColorPrimary #333333;

treeview header button,
column-header .button {
   background-image: none;
   background-color: transparent;
   border: 1px solid transparent;
   padding: 4px 2px;
}

.yi-titlebar {
   background-image: none;
   background-color: @bg_color;
   border: 1px solid @bg_color;
   box-shadow: none;
   color: @fg_color;
   padding: 4px 2px;
}

.yi-searchbar {
    background-image: none;
    background-color: shade(@bg_color,0.90);
    border: 1px solid shade(@bg_color,0.70);
    border-radius: 30px;
    box-shadow: none;
    color: @fg_color;
    padding: 8px;
 }

.yi-titlebar image {
    color: @fg_color;
    box-shadow: none;
    -gtk-icon-shadow: none;
}

.yi-button {
    background-color: shade(@bg_color,0.90);
    border-radius: 30px;
    padding: 5px;
}

.yi-addbutton {
    background-color: shade(@colorAccent,0.90);
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 15px;
    box-shadow: 0 5px 5px 5px rgba(@fg_color,0.67);
}

.yi-addbutton image {
    color: #FAFAFA;
}

treeview header button:last-child,
column-header:last-child .button {
    border-right-width: 0;
}
